*{
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
    background-color: #DD8181;
    color: white;
    padding: 1%;
    margin-bottom: 0.5%;
}

.main{
    width: 960px;
    margin: 0 auto
}
footer{
    margin-top: 2%;
    padding: 2%;
    background-color:#DD8181;
    color: white;
}
article{
    border: 0.5px solid gray;
    padding: 2%;
    margin-bottom: -1px;
}
img{
    float:left;
    margin-right: 1%;
    border-radius: 50%;
}
.footerDiv {
    width:  960px;
    margin: 0 auto;
}

